.box{
    width: 60%;
}

.resource{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.ant-form-item {
    margin-bottom: 10px; 
  }
  
  .ant-form-item-label {
    padding: 0; 
  }
  
  .ant-form-item-control {
    line-height: 2.6; // 调整表单项的行高
  }
  
  .ant-form-item-control-input {
    width: 100%; 
  }
  
  .ant-btn {
    margin-top: 6px;
    margin-left: 28%; 
  }
  